@import "tailwindcss";

body {
  background-color: #0f111a;
  color: white;
}

/* স্ক্রলবার হাইড করার জন্য */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
